.accent {
	position: relative;
	display: inline-flex;
	--radius: 6px;
	--shift: -2px;
	--border: 1px solid;
}

.accent:has(a[data-active]),
.accent:focus-within {
	--shift: 2px;
	--border: 2px solid var(--accent-color);
}

.accent a {
	outline: none;
}

.accent:has(a) {
	--shift: 2px;
	--border: 2px solid transparent;
}

.accent:has(a:hover) {
	--shift: -2px;
	--border: 1px solid var(--link-color-hover);
}

.accent::before,
.accent::after,
.accentInner::before,
.accentInner::after {
	content: '';
	position: absolute;
	border-radius: var(--radius);
	transition: 0.15s ease-in-out;
	pointer-events: none;
}

.accent::before,
.accent::after {
	left: 0;
	width: 100%;
	height: calc(var(--radius) * 2);
}

.accent::before {
	bottom: 100%;
	margin-bottom: var(--shift);
	border-bottom: var(--border);
}

.accent::after {
	top: 100%;
	margin-top: var(--shift);
	border-top: var(--border);
}

.accentInner::before,
.accentInner::after {
	top: 0;
	height: 100%;
	width: calc(var(--radius) * 2);
}

.accentInner::before {
	right: 100%;
	margin-right: var(--shift);
	border-right: var(--border);
}

.accentInner::after {
	left: 100%;
	margin-left: var(--shift);
	border-left: var(--border);
}

.accent select,
.accent input {
	border-width: 0;
	font-size: inherit;
	line-height: inherit;
	margin: 4px 10px;
	padding: 0;
}

.accent select:focus,
.accent input:focus {
	outline: none;
}
