.descr {
	font-size: 0.7em;
}

.descr li {
	text-align: center !important;
}

.circles {
	padding-top: 350px;
	height: 460px;
	position: relative;
	box-sizing: border-box;
}

.pre {
	background: #fff;
}

.when {
	font-size: var(--r-heading2-size) !important;
}

.when s {
	opacity: 0.7;
	text-decoration-color: rgba(71, 71, 71, 0.75);
}

[data-fragment='4'] .projectCtxList [data-fragment-index='3'] {
	text-decoration: line-through;
}
