.title {
	white-space: nowrap;
	padding-bottom: 0.7em;
	color: gold !important;
}

.t1 {
	position: relative;
	font-size: 1.25em;

	& span {
		position: absolute;
		font-size: 0.2em;
		bottom: 70%;
		right: -7%;
	}
}

.t2 {
	position: relative;
	font-size: 0.7em;
	margin-left: -0.2em;
	display: inline-block;
	transform: translate(0, 0.3em);

	& span {
		position: absolute;
		font-size: 0.4em;
		bottom: 67%;
		right: -6%;
	}
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	z-index: 100;
	pointer-events: none;
	transition: all 0.8s ease;
	filter: invert(1) grayscale(1) brightness(1.5);
}
