.container {
	--containerMaxWidth: 100%;
	--containerHorizontalPad: 1.5rem;
	margin: 0 auto;
	width: 100%;
	padding: 0 var(--containerHorizontalPad);
	max-width: var(--containerMaxWidth, 100%);
}

.container[data-size='sm'] {
	--containerMaxWidth: 680px;
}

@media (max-width: 760px) {
	.container [data-hide='in-sm-container'] {
		display: none;
	}
}

.container[data-size='md'] {
	--containerMaxWidth: 980px;
}

.container[data-size='lg'] {
	--containerMaxWidth: 1280px;
}
