.container {
	--containerMaxWidth: 100%;
	--containerHorizontalPad: 1.5rem;
	margin: 0 auto;
	width: 100%;
	padding: 0 var(--containerHorizontalPad);
	max-width: var(--containerMaxWidth, 100%);
}

.maxWidth_sm {
	--containerMaxWidth: 680px;
}

.maxWidth_md {
	--containerMaxWidth: 980px;
}

.maxWidth_lg {
	--containerMaxWidth: 1440px;
}
