:root {
	--text-color: #111;
	--surface: #fff;
	--accent-color: #0000EE;
	--link-color: #0000EE;
	--link-color-hover: #6c6cff;
	--link-color-active: #000096;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	color: var(--text-color);
	background: var(--surface);
}

a {
	color: var(--link-color);

	&:hover {
		color: var(--link-color-hover);
	}

	&:active {
		color: var(--link-color-active);
	}

	&:focus-visible {
		outline: 2px solid var(--accent-color);
	}
}

input,
select {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

main {
	font-size: 1.25rem;
	line-height: 1.6em;
	font-weight: 300;

	& p {
		margin-top: 2.14em;
	}

	& code {
		font-size: 0.9em;
		padding: 0 0.3em;
		background: #f5eded;
		letter-spacing: -0.02em;
	}

	& pre {
		tab-size: 4;
		font-size: 1rem;
		line-height: 1.5em;
		padding: 1rem;
		background: #f4f4fd;
		overflow: auto;
		letter-spacing: -0.01em;
	}
}

.main-layout-header__nav {
	flex-grow: 1;
	display: flex;
	gap: 2rem;
	align-items: safe center;

	& a {
		color: var(--text-color);
		font-size: 1.25rem;
		text-decoration: none;
	}
}
