.article {
	font-size: 1rem;
	line-height: 1.6em;
	padding: 1rem 0;
}

@media (min-width: 768px) {
	.article {
		font-size: 1.25rem;
		padding: 2rem 0;
	}
}

@media (min-width: 1280px) {
	.article {
		padding: 3.5rem 0;
	}
}
