.tableExpand {
	margin: 0 -5rem;
	position: relative;
}

.tableCode {
	--code-font-size: 0.55em;
}

.tableCode code {
	line-height: 1.4;
	padding: 1rem !important;
}

.video {
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 0;
	transform: translate(-50%, -50%);
	transition-duration: 10s !important;
}

.video video {
	max-width: 100%;
	max-height: 100%;
	transition: 10s ease;
}

.video:global(.visible) video {
	transform: scale(3);
}