.header {
	padding: 1rem 0;
}

.container {
	display: flex;
	align-items: safe center;
	gap: 3rem;
}

.divider {
	margin-top: 0;
	margin-bottom: 4rem;
	border-width: 0;
	border-bottom: 1px solid silver;
}
