.header {
	padding: 1rem 0;
	border-bottom: 1px solid silver;
}

.container {
	display: flex;
	align-items: safe center;
	gap: 1rem;
}

@media (min-width: 440px) {
	.container {
		gap: 1.75rem;
	}
}

@media (min-width: 768px) {
	.container {
		gap: 3rem;
	}
}
