html {
	height: 100%;
}

body {
	--surface: #fff;
	--text-color: #111;
	--border: #aaa;
	--link: #00f;
	--caption: #666;
	position: relative;
	margin: 0.5cm auto;
	min-height: calc(100% - 1cm - 4px);
	max-width: 20cm;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	line-height: 1.2;
	font-size: 11px;
}

main {
	overflow: auto;
	display: block;
}

p,
ul {
	margin: 0.5em 0;
}

h3 {
	font-size: inherit;
	font-weight: 700;
	margin: 0 0 0.15em;

	&::marker {
		display: none;
	}
}

hr {
	border: none;
	border-top: 1px solid var(--border);
	margin: 0;
	opacity: 0.5;
}

table {
	width: calc(100% + 10px);
	margin-left: -5px;
	margin-right: -5px;

	& th {
		padding: 5px;
		text-align: left;
		background: #eee;
	}

	& td {
		padding: 5px;
		vertical-align: top;
	}

	& tr:last-child td > p:last-child {
		margin-bottom: 0;
	}

	& ul {
		margin: 0;
		padding-left: 0;
	}

	& li {
		display: block;

		&:not(:last-child) {
			margin-bottom: 0.4em;
		}
	}

	& tbody tr:not(:last-child) td {
		border-bottom: 1px solid #bbb;
	}
}

a {
	color: var(--link);
	text-decoration: none;
	border-bottom: 1px solid;
}

section {
	--box-x: 0cm;
	--box-y: 0cm;
	padding: var(--box-y) var(--box-x);
}

.cv-header {
	display: flex;
	flex-direction: row;
}

.cv-header__left {
	flex-grow: 1;
}

.cv-header__right {
	text-align: right;
	margin-top: -0.75rem;
}

.cv-columns {
	display: flex;
	flex-direction: row;
	gap: 1cm;

	& > div {
		flex-grow: 1;
		width: 50%;
	}
}

.cv-columns--smaller {
	font-size: 12px;

	& p + p {
		margin-top: 1em;
	}
}

.cv-block {
	margin: 7px 0;
}

.cv-block::after {
	display: block;
	height: 0;
	clear: both;
}

.cv-block__aside {
	float: right;
	margin: 0 0 0 2rem;
	color: var(--caption);
	font-size: 10px;
}

h1 {
	font-size: 0.8cm;
	line-height: 1.1em;
	margin: 0;
	letter-spacing: -1px;
}

h2 {
	font-size: 0.4cm;
	font-weight: 700;
	line-height: 1.75em;
	margin: 0.1cm 0 0 0;
	background: #eee;
	padding-left: 6px;

	& + hr {
		border-width: 3px;
	}
}

.cv-page-break {
	@media not print {
		display: none;

		& + .cv-box {
			border-top-width: 0px;
		}
	}

	@media print {
		display: block;
		page-break-before: always;

		.cv-page-break__gap {
			height: 0.5cm;
		}
	}
}
