html {
	height: 100%;
}

body {
	position: relative;
	margin: 1cm auto;
	max-width: 20cm;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-weight: 500;
	line-height: 1.4;
	font-size: 16px;
	color: #111;

	@media print {
		margin: 1cm 1.5cm;
		max-width: initial;
		color: #000;
	}
}

main {
	overflow: auto;
	display: block;
}

h1,
h2,
h3 {
	text-align: center;
}

a {
	color: rgb(0, 0, 238);

	&:hover {
		color: rgb(85, 26, 139);
	}

	&:active {
		color: #000;
	}
}

hr {
	border: none;
	border-top: 1px solid silver;
	margin: 2em 0;
}

.contacts {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	gap: 0.5em;

	& > div:last-child {
		text-align: right;
	}

	p {
		margin: 0.5em 0;
	}
}

.thin {
	font-weight: 400;
}
