:root {
	--font-slide-heading: serif;
	--font-slide-title: serif;
	--font-slide-base: serif;
	--font-code: monospace;
	font-family: var(--font-slide-base);
}

.has-dark-background ~ .fwdays-logo {
	filter: invert(1) grayscale(1) brightness(1.5);
}

.fwdays-logo {
	position: absolute;
	bottom: 90px;
	left: 30px;
	width: 100px;
	z-index: 100;
	pointer-events: none;
	transition: all 0.8s ease;
}

.fwdays-frame {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 70px;
		background: #00f5;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}
}

.t-left {
	text-align: left;
}
.t-right {
	text-align: right;
}

.op-70 {
	opacity: 0.7;
}
.op-60 {
	opacity: 0.6;
}
.op-50 {
	opacity: 0.5;
}

.reveal .slides {
	& .font-title {
		font-family: var(--font-slide-title);
	}

	& .font-heading {
		font-family: var(--font-slide-heading);
	}

	& .font-base {
		font-family: var(--font-slide-base);
	}

	& > section {
		--easing: cubic-bezier(0.69, 0, 0.58, 0.69);
		transition-timing-function: var(--easing), var(--easing), var(--easing),
			var(--easing);

		&[data-transition~='zoom-in'].future {
			transform: scale(0.5);
		}

		&[data-transition~='zoom-out'].past {
			transform: scale(5);
		}

		&:not(.custom) {
			width: 80%;
			margin-left: 10%;
		}
	}

	& small {
		font-size: smaller;
	}

	& code {
		font-family: var(--font-code);
		font-size: 0.75em;
		padding: 0 0.3em;
		border-radius: 0.3em;
		background: #0001;
		border: 1px solid #0003;
	}

	& [data-background-color='black'] {
		& code {
			background: #fff2;
			border-color: #fff4;
		}
	}

	& .fragment {
		transition: 1s ease-in-out;

		&._no-will-change {
			will-change: auto;
		}

		&.hljs.visible:not(.current-fragment) {
			opacity: 0;
			visibility: hidden;
		}

		&.fade-in-nth-child {
			& .child {
				opacity: 0;
				transition: 1s ease-in-out;

				&:not(:last-child)::after {
					content: ' ';
				}
			}

			&.visible .child {
				opacity: 1;
				transition: 2s ease-in-out;
			}

			&.visible > .child-auto:nth-child(2),
			&.visible .child-2 {
				transition-delay: 0.3s;
			}
			&.visible > .child-auto:nth-child(3),
			&.visible .child-3 {
				transition-delay: 0.6s;
			}
			&.visible > .child-auto:nth-child(4),
			&.visible .child-4 {
				transition-delay: 0.9s;
			}
			&.visible > .child-auto:nth-child(5),
			&.visible .child-5 {
				transition-delay: 1.2s;
			}
			&.visible > .child-auto:nth-child(6),
			&.visible .child-6 {
				transition-delay: 1.5s;
			}
			&.visible > .child-auto:nth-child(7),
			&.visible .child-7 {
				transition-delay: 1.8s;
			}
			&.visible > .child-auto:nth-child(8),
			&.visible .child-8 {
				transition-delay: 2.1s;
			}
			&.visible > .child-auto:nth-child(9),
			&.visible .child-9 {
				transition-delay: 2.4s;
			}
			&.visible > .child-auto:nth-child(10),
			&.visible .child-10 {
				transition-delay: 2.7s;
			}
			&.visible > .child-auto:nth-child(11),
			&.visible .child-11 {
				transition-delay: 3s;
			}
			&.visible > .child-auto:nth-child(12),
			&.visible .child-12 {
				transition-delay: 3.3s;
			}
			&.visible > .child-auto:nth-child(13),
			&.visible .child-13 {
				transition-delay: 3.6s;
			}
			&.visible > .child-auto:nth-child(14),
			&.visible .child-14 {
				transition-delay: 3.9s;
			}
			&.visible > .child-auto:nth-child(15),
			&.visible .child-15 {
				transition-delay: 4.2s;
			}
			&.visible > .child-auto:nth-child(16),
			&.visible .child-16 {
				transition-delay: 4.4s;
			}
			&.visible > .child-auto:nth-child(17),
			&.visible .child-17 {
				transition-delay: 4.6s;
			}
			&.visible > .child-auto:nth-child(18),
			&.visible .child-18 {
				transition-delay: 4.8s;
			}
			&.visible > .child-auto:nth-child(19),
			&.visible .child-19 {
				transition-delay: 5s;
			}
			&.visible > .child-auto:nth-child(20),
			&.visible .child-20 {
				transition-delay: 5.2s;
			}
		}
	}
}
