.block {
	--mh: 50px;
	overflow: hidden;
	display: block;
	transition: 0.6s ease-in-out;
}

:global(li).block {
	display: list-item;
	list-style-position: inside;
}

.block[data-roll='up'] {
	--roll: translateY(50%);
	max-height: 0;
}

.block[data-roll='down'] {
	--roll: translateY(-50%);
	max-height: 0;
}

.block[data-roll='up']:global(.visible),
.block[data-roll='down']:global(.visible) {
	max-height: var(--mh);
}

.block[data-roll='left'] {
	--roll: translateX(-35%);
}

.block[data-roll='right'] {
	--roll: translateX(35%);
}

.child {
	transform: var(--roll);
	display: block;
	transition: 0.5s ease;
}

:global(li).block .child {
	display: inline;
}

.block:global(.visible) .child {
	transform: translateY(0);
}
