body {
	background: #000;
}

.reveal-loading {
	color: #fff;
	text-align: center;
}

:root {
	--r-main-font-size: 30px;
	--r-main-font: var(--font-base);
	--r-heading1-size: 2.77em;
}

.reveal .slides > section {
	--easing: cubic-bezier(0.69, 0, 0.58, 0.69);
	transition-timing-function: var(--easing), var(--easing), var(--easing),
		var(--easing);
}

.hero-block {
	background: rgba(39, 0, 0, 0.67);
	backdrop-filter: blur(14px);
	padding: 3rem 1rem;
	border: 3px double rgba(219, 151, 138, 0.58);
	text-shadow:
		0 0 5px black,
		0 2px black,
		0 -2px black,
		2px 0 black,
		-2px 0 black;

	& .hero-title {
		color: #fff;
		font-size: 2.5em;
		text-shadow: inherit;
	}

	& .hero-subtitle {
		color: #fff;
		font-weight: 200;
		letter-spacing: 1px;
		word-spacing: 5px;
		line-height: 1.5;
	}
}
