body {
	background: #000 !important;
}

.reveal-loading {
	color: #fff;
	text-align: center;
}

:root {
	--r-main-font-size: 30px;
	--r-main-font: var(--font-slide-base);
	--r-code-font: var(--font-code);
	--r-heading1-size: 2.77em
}

.reveal .slides {
	letter-spacing: -0.025em;

	& .divider {
		border-width: 0;
		border-bottom: 1px solid;
		opacity: 0.6;
	}

	& .divider--short {
		width: 40%;
	}

	& .font-weight-light {
		font-weight: 200
	}

	& .fragment {
		transition: 0.4s ease-in-out;

		&._no-will-change {
			will-change: auto;
		}


	}

	& > section {
		--easing: cubic-bezier(0.69, 0, 0.58, 0.69);
		transition-timing-function: var(--easing), var(--easing), var(--easing),
		var(--easing);
		width: 80%;
		margin-left: 10%;

		&[data-transition~='zoom-in'].future {
			transform: scale(0.5);
		}

		&[data-transition~='zoom-out'].past {
			transform: scale(5);
		}

		&.section-question {
			top: 150px !important;
		}
	}

	& pre {
		width: calc(100% - 10px);
		margin: 5px;
		font-size: 0.7em;

		& code {
			padding: 2rem;
			background: none;
			color: dimgray;
		}

		& .hljs-keyword,
		& .hljs-selector-tag,
		& .hljs-tag {
			color: maroon;
		}

		& .hljs-deletion,
		& .hljs-string,
		& .hljs-built_in,
		& .hljs-builtin-name {
			color: #cc5d09;
		}
	}

	& ol {
		list-style: upper-roman;
	}

	& ul {
		list-style: square;
	}

	& ::marker {
		color: dimgray;
	}

	.text-left {
		text-align: left;
	}

	& blockquote {
		font-style: normal;
		padding: 1.2em;
		margin: 5px;
		width: auto;
		background: #fff9;
		font-size: 0.8em;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

		& > :first-child {
			margin-top: 0;
		}

		& footer {
			font-size: 0.8em;
			font-weight: 300;
		}
	}
}

.reveal .backgrounds {
	& .section-question {
		& .slide-background-content {
			filter: hue-rotate(200deg) contrast(2);
			opacity: 0.5;
		}
	}
}

.hero-block {
	display: flex;
	flex-direction: column;
	background: rgba(39, 0, 0, 0.67);
	backdrop-filter: blur(14px);
	padding: 3rem 1rem;
	border: 3px double rgba(219, 151, 138, 0.58);
	text-shadow: 0 0 5px black,
	0 2px black,
	0 -2px black,
	2px 0 black,
	-2px 0 black;

	& .hero-title {
		color: #fff;
		font-size: 2.5em;
		text-shadow: inherit;
		order: 1;
		transform: translateY(60%);
		transition: transform 0.7s ease !important;
	}

	& .visible + .hero-title {
		transform: translateY(0);
	}

	& .hero-subtitle {
		color: #fff;
		font-weight: 200;
		letter-spacing: 1px;
		word-spacing: 5px;
		line-height: 1.5;
		order: 2;
		transition-duration: 0.7s;
	}
}
