body {
	background: #000 !important;
}

#gtx-trans {
	display: none !important;
}

.reveal-loading {
	color: #fff;
	text-align: center;
}

:root {
	--r-main-font-size: 30px;
	--r-main-font: var(--font-slide-base);
	--r-heading-color: var(--r-main-color);
	--r-heading1-size: 2.77em;
}

.like-h3 {
	font-family: var(--font-headings);
	font-size: var(--r-heading3-size);
	font-weight: var(--r-heading-font-weight);
	line-height: var(--r-heading-line-height);
	letter-spacing: var(--r-heading-letter-spacing);
	text-transform: var(--r-heading-text-transform);
	text-shadow: var(--r-heading-text-shadow);
	word-wrap: break-word;
}

.reveal .slides {
	letter-spacing: -0.025em;

	.flex-section {
		display: flex !important;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: var(--height, 690px);
	}

	& a {
		--r-link-color: var(--link-color);
		transition: none;
		text-decoration: underline;
	}

	& small small {
		font-size: small;
	}

	& h3 {
		font-family: var(--font-headings);
	}

	& hr {
		border-width: 0;
		border-top: 1px solid;
		opacity: 0.7;
	}

	& .divider {
		border-width: 0;
		border-bottom: 1px solid;
		opacity: 0.6;
	}

	& .divider--short {
		width: 40%;
	}

	& .font-weight-light {
		font-weight: 200;
	}

	& .fragment {
		transition: 0.5s ease-in-out;

		&._no-will-change {
			will-change: auto;
		}

		&.hljs.visible:not(.current-fragment) {
			opacity: 0;
			visibility: hidden;
		}
	}

	& > section {
		--easing: cubic-bezier(0.69, 0, 0.58, 0.69);
		transition-timing-function: var(--easing), var(--easing), var(--easing),
			var(--easing);
		width: 80%;
		margin-left: 10%;

		&[data-transition~='zoom-in'].future {
			transform: scale(0.5);
		}

		&[data-transition~='zoom-out'].past {
			transform: scale(5);
		}
	}

	& pre {
		width: calc(100% - 10px);
		margin: 5px;
		font-size: var(--code-font-size, 0.675em);

		& code {
			padding: 2rem;
			background: none;
			color: dimgray;
			max-height: var(--code-max-height, 400px);
		}

		& .hljs-keyword {
			color: maroon;
		}

		& .hljs-selector-tag,
		& .hljs-tag {
			color: dimgray;
		}

		& .hljs-name {
			color: maroon;
		}

		& .hljs-attr {
			color: tomato;
		}

		& .hljs-string,
		& .hljs-bullet,
		& .hljs-subst,
		& .hljs-title,
		& .hljs-section,
		& .hljs-emphasis,
		& .hljs-type,
		& .hljs-built_in,
		& .hljs-builtin-name,
		& .hljs-selector-attr,
		& .hljs-selector-pseudo,
		& .hljs-addition,
		& .hljs-variable,
		& .hljs-template-tag,
		& .hljs-template-variable {
			color: tomato;
		}
	}

	& .language-graphql .hljs-comment {
		color: #b0ad9e;
		font-style: italic;
	}

	& ol {
		list-style: upper-roman;
	}

	& ul {
		list-style: square;
	}

	& ::marker {
		color: dimgray;
	}

	.text-left {
		text-align: left;
	}

	& blockquote {
		font-style: normal;
		padding: 1.2em;
		margin: 5px;
		width: auto;
		background: #fff9;
		font-size: 0.8em;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

		& > :first-child {
			margin-top: 0;
		}

		& footer {
			font-size: 0.8em;
			font-weight: 300;
		}
	}
}

.reveal .has-dark-background a {
	--r-link-color: #8585fc;
}

.reveal .hljs.has-highlights tr:not(.highlight-line) {
	filter: grayscale(1);
	opacity: 0.3;
}

.code-wrapper:has(code.fragment) > code:first-child:not(.fragment) {
	transition: all 0.2s ease;
}

.code-wrapper:has(code.fragment.visible) > code:first-child:not(.fragment) {
	opacity: 0;
	visibility: hidden;
}

.reveal table {
	width: 100%;
}

.has-light-background pre {
	background: #fff7;
}

.code-wrapper-bg-lines tr.highlight-line {
	background: rgba(0, 0, 0, 0.05);
}

.reveal .code-wrapper-hide-numbers {
	& .hljs-ln-numbers {
		opacity: 0;
		width: 1px !important;
		padding: 0;
	}
}

.reveal .code-wrapper-hide-next tr.highlight-line {
	& ~ tr:not(.highlight-line) {
		opacity: 0;

		&:has(~ tr.highlight-line) {
			opacity: 0.375;
		}
	}
}

.reveal .backgrounds {
	& .section-question {
		& .slide-background-content {
			filter: hue-rotate(200deg) contrast(2);
			opacity: 0.5;
		}
	}
}

.reveal-video-placeholder {
	max-width: 70%;
}

.fwdays-logo {
	position: absolute;
	bottom: 90px;
	left: 30px;
	width: 100px;
	z-index: 100;
	pointer-events: none;
	transition: all 0.8s ease;
}

.has-dark-background ~ .fwdays-logo {
	filter: invert(1) grayscale(1) brightness(1.5);
}

.fwdays-frame {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 70px;
		background: #00f5;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}
}
