.title {
	color: gold !important;
}

.linkedin {
	width: 1em;
	height: 1em;
	margin: 0 !important;
	vertical-align: sub;
}

.link {
	--r-link-color: #007fbb;

	&:hover {
		--r-link-color-hover: #fff;
	}
}
