.figureSection {
	--height: 690px;
}

.whiteFragment {
	background: white;
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;
	height: 60px;
}

.rollingFragment {
	transition-duration: 0.8s !important;
}
